<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Rust Conversions</title>
    <link rel="stylesheet" href="style.css" />
    
    <link rel="icon" type="image/png" href="favicon.png">
  </head>

  <body>
    <div id="header">
      <h1>Rust Conversions</h1>
      <a id="repo-link"
         href="https://github.com/nicholasbishop/rust-conversions">GitHub Repo 🔗</a>
    </div>
    <div id="nav">
      <div id="nav-inner">
        {{ nav }}
      </div>
    </div>
    <div id="content">
      <p>This is a reference for converting between various string and
      byte types in Rust. The types listed are in the sidebar, and
      each section shows the conversions to all the other types.</p>

      <p>These conversions are not exhaustive of course. For example,
      if the target type can be inferred you might be able to use
      <code>.into()</code> instead of an explicit method
      like <code>.to_string()</code>.</p>

      <p>If you spot something that could be improved please file an
      issue or a pull request in
      the <a href="https://github.com/nicholasbishop/rust-conversions">GitHub
      repo</a>.</p>

      {{ content }}
    </div>
  </body>
</html>
