<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Rust Conversions</title>
    <link rel="stylesheet" href="style.css" />
    
    <link rel="icon" type="image/png" href="favicon.png">
  </head>

  <body>
    <div id="header">
      <h1>Rust Conversions</h1>
      <a id="repo-link"
         href="https://github.com/nicholasbishop/rust-conversions">GitHub Repo 🔗</a>
    </div>
    <div id="nav">
      <div id="nav-inner">
        {{ nav }}
      </div>
    </div>
    <div id="content">
      <p>This is a reference for converting between various string and byte types in Rust.</p>

      {{ content }}
    </div>
  </body>
</html>
